body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}

.TodopageMain {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Todopage-title {
    font-size: 48px;
    line-height: 1.4;
    color: darkblack;
    margin: 10px;
}

.Todopage-article {
    margin: auto;
}

.Todopage__section--add {
    margin: 10px;
    display: flex;
    align-items: stretch;
}

.Todopage__input {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.Todopage__input--text {
    width: 200px;
}

.Todopage__input--date {
    width: 150px;
}

.Todopage__input--button {
    width: 70px;
    border-color: transparent;
    background-color: green;
    color: white;
}

.Todopage-task {
    margin: 0;
}

.Todopage-tasktitle {
    margin: 0px 10px;
    padding: 30px 10px 0px 10px;
    display: flex;
    align-items: center;
    height: 30px;
}

.Todopage-tasktitle--text {
    font-size: 16px;
    margin: 0px 10px;
    font-weight: 600;
}

.Todopage-tasktitle--count {
    margin: 0px 10px;
}

.Todopage__section--todo {
    margin-top: 10px;
}

.Todopage__section--list {
    margin: 0px 10px;
    list-style-type: none;
}

.Todopage__section--li {
    margin: auto;
}

.Todopage__label--overdue {
    color: red;
    margin: 0px 10px;
}

.Todopage__img {
    height: 20px;
    visibility: visible;
    margin-top: 10px;
}