<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Management App</title>
    <link rel="stylesheet" type="text/css" href="todo-app.css" />
</head>

<body>

    <main class="TodopageMain">
        <h1 class="Todopage-title">My Todo-list</h1>
        <atrticle class="Todopage-article">
            <section class="Todopage-section-add">
                <input class="Todopage-input" type="text" name="todo_text" id="todo_text" placeholder="What's next?" />
                <input class="Todopage-input" type="date" name="due_date" id="due_date" />
                <input class="Todopage-input  Todopage-input-button" type="submit" name="add" id="add" value="Add" />

            </section>
            <%= render partial:"todo-section", 
            locals:{
                section_title: "Due Today",
                todos: Todo.due_today,
                show_due_date:false
            }
            %>
            <%= render partial:"todo-section", 
            locals:{
                section_title: "Overdue",
                todos: Todo.overdue,
                show_due_date:true
            }
            %>
            <%= render partial:"todo-section", 
            locals:{
                section_title: "Due Later",
                todos: Todo.due_later,
                show_due_date:true
            }
            %>
        </atrticle>
    </main>
</body>

</html>