body{
    font-family: sans-serif;
    max-width: 600px;
    margin: 32px auto 0 auto;
}
.Todopage-title{
    font-size: 48px;
    line-height: 1.4;
    color: darkcyan;
    
}
.Todopage-section{
    margin-bottom: 32px;
    margin-left: 32px;
    background-color: darkgray;
    padding: 10px;
}
.Todopage-subtitle{
    font-size: 34px;
    line-height: 1.4;
    color: #453C52;
}
.Todopage-task{
    font-size: 20px;
    line-height: 1.2;
    margin-left: 32px;
    color: white;
}
