body{
    font-family: sans-serif;
    max-width: 900px;
    margin: 32px auto 0 auto;
}
.Todopage-title{
    font-size: 48px;
    line-height: 1.4;
    color: darkcyan;
    
}
.SplashImage{
max-width: 300px;
}
.TodopageMain{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SectionDiv{
    display: block;
}
.Todopage-article
{
    padding: 10px;
    
    
}
.Todopage-section{
    margin: 10px;
    background-color: darkgray;
    padding: 10px;
}
.Todopage-subtitle{
    font-size: 34px;
    line-height: 1.4;
    color: #453C52;
}
.Todopage-task{
    font-size: 20px;
    line-height: 1.2;
    margin-left: 32px;
    color: white;
}
