<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Management App</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="my-app.css">
</head>
<body>
    <h1 class="Todopage-title">My Todo-list</h1>
    <article>
    <section class="Todopage-section">
        <h2 class="Todopage-subtitle">Die Today</h2>
        <p class="Todopage-task">Submit Saas 201 project</p>
        <p class="Todopage-task">Call accountant</p>
    </section>
    <section class="Todopage-section">
        <h2 class="Todopage-subtitle">Due Tomorrow</h2>
        <p class="Todopage-task">Refill groceries</p>
    </section>
    </article>
</body>
</html>